{% extends 'layouts/base.html' %}


{% block title %} managers list {% endblock %}

{% block content %}
    <span><h1> managers list </h1></span><span><a href="{% url 'manager_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></span>

    {% for manager in managers %}
         <div class="manager">
             <div class="Name">
                <h3><a href="{% url 'manager_detail' id=manager.id %}">{{manager.Name}}</a></h3>
             </div>
             <p>{{ manager.Payment_info }}</p>
             <p>{{manager.Mail}} </p>
             <p>{{manager.Phone}} </p>
        </div>


    {% endfor %}
{% endblock %}