{% extends 'layouts/base.html' %}


{% block title %} managers list {% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <span><h1> managers list </h1></span>
        <a class="btn btn-default" href="{% url 'managers_clients_count' %}">
             Менеджери за кількістю клієнтів
        </a>

        <span class="plus col-md-1 col-lg-1">
            <a href="{% url 'manager_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </span>

        {% for manager in managers %}
             <div class="manager">
                 <div class="Name">
                    <h3><a href="{% url 'manager_detail' id=manager.id %}">{{manager.Name}}</a></h3>
                 </div>
                 <p>{{ manager.Birthday_date }}</p>
                 <p>{{manager.Position}} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}