{% extends 'layouts/base.html' %}

{% block content %}
     <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
         <div class="Name">
             <h3>{{manager.Name}}</h3>
         </div>
         <p>{{manager.Payment_info}}</p>
         <p>{{manager.Mail}} </p>
         <p>{{manager.Phone}} </p>
         <a class="btn btn-default" href="{% url 'manager_edit' id=manager.id %}">
             <span class="glyphicon glyphicon-pencil"></span>
         </a>
     <a class="btn btn-default" href="{% url 'delete_manager' id=manager.id %}"><span class="glyphicon glyphicon-trash"></span></a>
     </div>
{% endblock %}

