.fill-height-or-more > div {
    height: 220px;
}

.plus {
    margin-left: 2em;
}

@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
}

.print{
    background-color:#FFFFFF;
    border: none;
}