{% extends 'layouts/base.html' %}


{% block title %} Services list {% endblock %}

{% block content %}
    <span><h1> services list </h1></span><span><a href="{% url 'services_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></span>

    {% for Service in services %}
         <div class="service">
             <div class="Name">
                <h3><a href="{% url 'service_detail' id=Service.id %}">{{Service.Name}}</a></h3>
             </div>
             <p>{{ Service.Payment_info }}</p>
             <p>{{Service.Mail}} </p>
             <p>{{Service.Phone}} </p>
        </div>


    {% endfor %}
{% endblock %}