{% extends 'layouts/base.html' %}


{% block title %} contractors list {% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <span><h1> contractors list </h1></span>
        <a class="btn btn-default" href="{% url 'newest_contractors' %}">
             Підрядники, послугами яких ніхто не користується
        </a>
        <span>
            <button onclick="myFunction()" class="print">
                <span class="glyphicon glyphicon glyphicon-print"></span>
            </button>
        </span>

        <script>
            function myFunction() {
                window.print();
            }
        </script>
        <span class="plus col-md-1 col-lg-1">
            <a href="{% url 'newest_contractors' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </span>

        {% for Contractor in contractors %}
             <div class="contractor">
                 <div class="Name">
                    <h3><a href="{% url 'contractor_detail' id=Contractor.id %}"> {{ Contractor.Name}}</a></h3>
                 </div>
                 <p>Реквізити: {{Contractor.Payment_info}} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}