{% extends 'layouts/base.html' %}


{% block title %} Всі договори клієнта {% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <h1> Всі договори клієнта </h1><a href="{% url 'contract_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% for item in items %}
            <h2><a href="{%  url 'contract_detail' item.id %}">Договоір No:{{item.id}}</a> від {{ item.Date }}</h2>
            <p>Manager: {{item.Manager_id}}</p>
        {% endfor %}
    </div>
{% endblock %}